body {
    background-color: royalblue;
}
p {
    background-color: white;
    color: black;
    padding: 10px;
}
article {
    padding: 0.5rem;
    margin: 0.25rem;
    border: 1px solid black;
    border-radius: 5px;
    width: 16rem;
    height: 16rem;
    display:inline-block;
    background-color: whitesmoke;
}
article>h2 {
    margin: 0rem;
    display: inline-block;
}
article>p {
    margin: 0rem;
    padding: 0rem;
    background-color: whitesmoke;
}
img {
    width: 64px;
    height: 42px;
    float: left;
    margin-right: 0.5rem;
    margin-bottom: 0.1rem;
}